<div id="footer" class="row">
		<!-- Container -->
		<div class="container">

			<div class="col-md-3">

				<!-- Headline -->
				<h3 class="headline footer">Liên hệ</h3>
				<span class="line"></span>
				<div class="clearfix"></div>
				<ul class="footer-links">
					<li>Công ty TNHH <%= current_store.name %></li>
					<li>ĐC: 58 đường 30/4, p.Tân Thành, Q.Tân Phú, TP.HCM</li>
					<li>Email: <%= current_store.mail_from_address %></li>
					<li>ĐT: <%= current_store.phone %></li>
				</ul>
			</div>

		</div>
		<!-- Container / End -->
</div>
