<div class="clearfix"></div>
<div id="mobile-footer">
	<div class="container" data-hook>
		<div class="row text-center">
			<div class="col-xs-4">
				<%= image_tag("return-product.png") %>
				<p>Trả hàng nếu không giống hình</p>
			</div>
			<div class="col-xs-4">
				<%= image_tag("payment.png") %>
				<p>Thanh toán khi nhận hàng</p>
			</div>
			<div class="col-xs-4">
				<%= image_tag("shipping.png") %>
				<p>Giao hàng toàn quốc</p>
			</div>
		</div>
	</div>
</div>
