<div class="about-area about-bg">
    <div class="indecor-about">
        <div class="section-title">
            <span class="sub-title">About Me</span>
            <h2>neque dis nam parturient.</h2>
        </div>
        <p class="about-des">Mauris interdum magna eu neque convallis, vel laoreet lectus ultrices. Mauris at ullamcorper orci. Maecenas in nulla erat.</p>
        <a class="about-btn" href="#">read more</a>
    </div>
</div>