<div class="brand-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-active owl-carousel">
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand1.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand2.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand3.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand4.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand5.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand1.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand4.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                    <!--Single Brand Start-->
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand5.png" alt=""></a>
                    </div>
                    <!--Single Brand End-->
                </div>
            </div>
        </div>
    </div>
</div>