<div class="deal-product-area deal-bg">
    <div class="deal-produt-slider owl-carousel">
        <!--Single Deal Product Start-->
        <div class="single-deal-product">
            <div class="deal-product-img img-full">
                <a href="single-product.html"><img src="img/product/product10.jpg" alt=""></a>
                <span class="descount-sticker">-10%</span>
            </div>
            <div class="deal-product-content">
                <div class="section-title">
                    <span class="sub-title">Our Collections</span>
                </div>
                <h3><a href="single-product.html">HP Pavilion 22cwa</a></h3>
                <p class="product-description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</p>
                <div class="product-price deal-price">
                    <span class="now-price">$78.80</span>
                    <span class="regular-price">$80.00</span>
                </div>
                <div class="product-countdown">
                    <div class="pro-countdown" data-countdown="2020/09/04"></div>
                </div>
            </div>
        </div>
        <!--Single Deal Product End-->
        <!--Single Deal Product Start-->
        <div class="single-deal-product">
            <div class="deal-product-img img-full">
                <a href="single-product.html"><img src="img/product/product9.jpg" alt=""></a>
                <span class="descount-sticker">-10%</span>
            </div>
            <div class="deal-product-content">
                <div class="section-title">
                    <span class="sub-title">Our Collections</span>
                </div>
                <h3><a href="single-product.html">Acer Aspire Desktop</a></h3>
                <p class="product-description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</p>
                <div class="product-price deal-price">
                    <span class="now-price">$85.80</span>
                    <span class="regular-price">$90.00</span>
                </div>
                <div class="product-countdown">
                    <div class="pro-countdown" data-countdown="2020/09/04"></div>
                </div>
            </div>
        </div>
        <!--Single Deal Product End-->
        <!--Single Deal Product Start-->
        <div class="single-deal-product">
            <div class="deal-product-img img-full">
                <a href="single-product.html"><img src="img/product/product8.jpg" alt=""></a>
                <span class="descount-sticker">-10%</span>
            </div>
            <div class="deal-product-content">
                <div class="section-title">
                    <span class="sub-title">Our Collections</span>
                </div>
                <h3><a href="single-product.html">Acer Aspire VX 15</a></h3>
                <p class="product-description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</p>
                <div class="product-price deal-price">
                    <span class="now-price">$105.80</span>
                    <span class="regular-price">$120.00</span>
                </div>
                <div class="product-countdown">
                    <div class="pro-countdown" data-countdown="2020/09/04"></div>
                </div>
            </div>
        </div>
        <!--Single Deal Product End-->
    </div>
</div>