
<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<div class="our-collection-area collection-bg pb-75">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!--Section Title Start-->
				<div class="section-title">
					<span class="sub-title">Our Collections</span>
					<h2>Hot categories in this week</h2>
				</div>
				<!--Section Title End-->
			</div>
		</div>
		<div class="row">
			<% cache [@current_store.code, I18n.locale, max_level, mobile_device?] do %>
				<% @current_store.taxons.where(taxonomy_id: 2)[1..-1].each do |taxon| %>
					
					<div class="col-md-3">
						<!--Single Categorie Collection Start-->
						<div class="single-categorie-collection mt-30">
							<div class="categorie-collection-img">
								<%= link_to seo_url(taxon) do %>
									<%= image_tag taxon.icon.url(:original) %>
								<% end %>
							</div>
						</div>
						<!--Single Categorie Collection End-->
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
