<div class="col-sm-12 col-md-3">
<%= render :partial => 'spree/shared/taxonomies', :locals => {   :taxon => @taxon } %>
</div>
<div class="columns col-md-9">
<%= render :partial => 'spree/shared/products', :locals => { :products => @products }%>
</div>