<div class="col-md-6 col-lg-5 p-b-30">
    <div class="p-r-50 p-t-5 p-lr-0-lg">
        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
            <%= @product.name %>
        </h4>

        <span class="mtext-106 cl2">
            <% if @product.before_sale_price.present? %>
                <span class="regular-price">
                    <%= display_before_sale_price(@product) %>
                </span>
            <% end %>
        </span>

        <p class="stext-102 cl3 p-t-23">
            <%= product_description(@product).html_safe rescue Spree.t(:product_has_no_description) %>
        </p>
       

        <div class="p-t-33">
        <%= render :partial => 'cart_form', :product => @product %>
        </div>
        
        <!--  -->
        <div class="flex-w flex-m p-l-100 p-t-40 respon7">
            <div class="flex-m bor9 p-r-10 m-r-11">
                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                    <i class="zmdi zmdi-favorite"></i>
                </a>
            </div>

            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                <i class="fa fa-facebook"></i>
            </a>

            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
    </div>
</div>
