<div class="col-md-8 col-md-offset-2">
  <div class="col-md-12">
    <h3>Thư của bạn đã được gửi thành công</h3>
    <p>Yêu cầu của bạn đã được gửi đến cho chúng tôi. Chúng tôi sẽ xem xét và phản hồi sớm nhất cho bạn.</p>
    <a class="btn btn-success" href="/" role="button">Quay lại Trang chủ</a>
    <br/><br/><br/>
  </div>
</div>