<div class="container-fluid left-header">
  <nav id="admin-menu" data-hook>

    <div data-hook="" class="fullwidth-menu">
      <%= render :partial => 'spree/admin/shared/tabs' %>
    </div>

  </nav>
</div>