<div id="top-bar" class="container">
  <div class="col-md-3 col-xs-3 return columns">
    <div class="icon"></div>
    <div class="text">
      <%= Spree.t("top_bar.return") %>
    </div>
  </div>
  <div class="col-md-3 col-xs-3 payment columns">
    <div class="icon"></div>
    <div class="text">
      <%= Spree.t("top_bar.payment") %>
    </div>
  </div>
  <div class="col-md-3 col-xs-3 ship columns">
    <div class="icon"></div>
    <div class="text">
      <%= Spree.t("top_bar.ship") %>
    </div>
  </div>
  <div class="col-md-3 col-xs-3 hotline columns">
    <div class="icon"></div>
    <div class="text">
      Hotline
      <br/>
      <span>090-8482-804</span>
    </div>
  </div>
</div>