<!--
<div id="top-bar" class="container">
  <div class="col-md-4 col-xs-4 return columns text-center">
    <div class="icon"></div>
    <div class="text">
      <%= Spree.t("top_bar.return") %>
    </div>
  </div>
  <div class="col-md-4 col-xs-4 payment columns text-center">
    <div class="icon"></div>
    <div class="text">
      <%= Spree.t("top_bar.payment") %>
    </div>
  </div>
  <div class="col-md-4 col-xs-4 ship columns text-center">
    <div class="icon"></div>
    <div class="text">
      <%= Spree.t("top_bar.ship") %>
    </div>
  </div>

</div>
-->